:root {
  --Rubik: "Rubik", sans-serif;
}

.uptodate {
  margin-top: 60px;
  background: #5267df;
  .container div {
    height: 360px;
    p {
      width: 276px;
      color: #fff;
      text-align: center;
      font-family: var(--Rubik);
      font-size: 13px;
      font-style: oblique;
      font-weight: 500;
      line-height: 40px;
      letter-spacing: 5px;
      margin: auto;
      padding-top: 30px;
    }

    h1 {
      width: 423px;
      color: #fff;
      text-align: center;
      font-family: Rubik;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 40px;
      letter-spacing: -0.1px;
      margin: 20px auto;
    }

    .authenication {
      width: fit-content;
      height: fit-content;
      margin: auto;

      input {
        width: 300px;
        height: 48px;
        border: #fff;
        border-radius: 5px;
        outline: none;
        padding: 20px;
        color: #242a45;
        font-family: var(--Rubik);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.25px;
        margin-right: 10px;
      }

      button {
        width: 126px;
        height: 48px;
        border: 2px solid #fa5959;
        border-radius: 5px;
        background: #fa5959;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
        color: #fff;
        text-align: center;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.25px;
        transition-duration: 0.7s;
        &:hover {
          border-radius: 5px;
          background: #fff;
          color: #fa5959;
          cursor: pointer;
        }
      }

      .error {
        color: #fff;
        font-family: Rubik;
        font-size: 10px;
        font-style: italic;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.25px;
        background-color: #fa5959;
        width: 300px;
        height: 25px;
        border-radius: 5px;
        text-align: center;
        padding-top: 6px;
        margin-top: -1px;
      }
    }
  }
}

@media (max-width: 767px) {
  .uptodate {
    margin-top: 60px;
    background: #5267df;
    .container div {
      height: 360px;
      p {
        width: fit-content;
        font-size: 12px;
        font-style: normal;
      }

      h1 {
        width: 311px;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
      }

      .authenication {
        width: 311px;
        height: fit-content;
        margin: auto;
        position: relative;
        input {
          width: 311px;
          height: 48px;
          margin: auto;
        }

        button {
          width: 311px;
          height: 48px;
          margin-top: 30px;
        }

        .error {
          width: 311px;
          position: absolute;
          top: 49px;
        }
      }
    }
  }
}
